#!/usr/bin/make -f
# -*- makefile -*-
#
export DH_VERBOSE=1

export PYBUILD_NAME = python-casacore

# we need to set the permissive flag
CFLAGS=-g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security -fpermissive

%:
	dh $@ --with python2 --buildsystem=pybuild

